.l-banner {
  background: #005564;
  display: flex;
  padding: 0px 52px 0px 53px;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.l-footer {
  background: var(--light-blue, #c0d9d9);
  padding-top: 40px;
  margin-top: 60px;
  height: 325px;
}
